.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 10px;

  > p {
    flex: 1;
  }

  .buttons {
    white-space: nowrap;
  }
}

a {
  display: block;
  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
}
