:host {
  $sidenav-width: 256px;
  $body-max-width: 1040px;
  $minimum-margin: 16px;

  display: contents;

  mat-sidenav-container {
    flex-grow: 1;
  }

  mat-sidenav {
    width: 256px;
  }

  .responsive-body {
    max-width: $body-max-width;
    margin: 0 auto;
    padding: 0
      clamp(
        $minimum-margin,
        calc(100% - $minimum-margin - $body-max-width),
        $sidenav-width + $minimum-margin
      )
      0 $minimum-margin;
  }
}
