<mat-sidenav-container>
  <mat-sidenav
    [opened]="!responsive.isMobile() || sideNavOpen"
    (closed)="toggleSideNav.emit(false)"
    [mode]="responsive.isMobile() ? 'over' : 'side'"
  >
    <mat-nav-list>
      <mat-list-item
        *ngFor="let page of pages"
        [activated]="activePage() === page"
        (click)="navigateToPage(page)"
      >
        {{ page.title }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
