:host {
  $sidenav-width: 256px;
  $body-max-width: 1040px;
  $minimum-margin: 16px;

  display: contents;

  mat-sidenav-container {
    flex-grow: 1;
  }

  mat-sidenav {
    width: 256px;
  }

  .responsive-body {
    max-width: $body-max-width;
    margin: 16px auto;
    padding: 0 clamp(16px, calc(100% - $body-max-width - 16px), $sidenav-width)
      0 16px;

    .body-content ::ng-deep {
      border-radius: 4px;

      padding: 16px 16px;
      > * > :last-child,
      :first-child {
        margin: 0;
      }
    }

    &.mobile {
      margin: 0;
      padding: 0;
      .body-content {
        border-radius: 0;
      }
    }
  }
}
