<mat-sidenav-container>
  <mat-sidenav
    [opened]="!config.isMobile() || sideNavOpen"
    (closed)="toggleSideNav.emit(false)"
    [mode]="config.isMobile() ? 'over' : 'side'"
  >
    <mat-nav-list>
      <mat-list-item *ngIf="config.isMobile()" class="no-events">
        <h3>Sebastian Post</h3>
      </mat-list-item>
      <ng-container *ngFor="let page of pages; let i = index">
        <mat-list-item [activated]="activePage() === page" (click)="navigateToPage(page)">
          <div class="nav-item">
            <mat-icon *ngIf="page.icon as icon">{{ icon }} </mat-icon>{{ page.title }}
          </div>
        </mat-list-item>
        <mat-divider *ngIf="i === 0"></mat-divider>
        <div *ngIf="i === 3" class="spacer"></div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #container>
    <div class="responsive-body">
      <mat-card *ngIf="!config.isMobile(); else noCard">
        <mat-card-content *ngIf="activePage()" class="fade-in">
          <router-outlet (activate)="container.getElementRef().nativeElement.scrollTo(0, 0)"></router-outlet>
        </mat-card-content>
      </mat-card>
      <ng-template #noCard>
        <div *ngIf="activePage() as page" class="content-padding fade-in">
          <router-outlet (activate)="container.getElementRef().nativeElement.scrollTo(0, 0)"></router-outlet>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
