<mat-sidenav-container>
  <mat-sidenav
    [opened]="!responsive.isMobile() || sideNavOpen"
    (closed)="toggleSideNav.emit(false)"
    [mode]="responsive.isMobile() ? 'over' : 'side'"
  >
    <mat-nav-list>
      <ng-container *ngFor="let page of pages; let i = index">
        <mat-list-item [activated]="activePage() === page" (click)="navigateToPage(page)">
          {{ page.title }}
        </mat-list-item>
        <mat-divider *ngIf="i === 0"></mat-divider>
        <div *ngIf="i === 3" class="spacer"></div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #container>
    <div class="responsive-body">
      <mat-card *ngIf="!responsive.isMobile(); else noCard">
        <mat-card-content *ngIf="activePage()">
          <router-outlet (activate)="container.getElementRef().nativeElement.scrollTo(0, 0)"></router-outlet>
        </mat-card-content>
      </mat-card>
      <ng-template #noCard>
        <div *ngIf="activePage()" [@mobileSlide]="activePage()" class="content-padding">
          <router-outlet (activate)="container.getElementRef().nativeElement.scrollTo(0, 0)"></router-outlet>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
