// Global Styles

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

iframe {
  border: none;
}

router-outlet + * > * {
  &:last-child {
    margin-bottom: 0 !important;
  }
  &:first-child {
    margin-top: 0 !important;
  }
}
