@use "@angular/material" as mat;
@include mat.core();

@mixin exposeVariables($selector) {
  @at-root :root #{$selector} {
    --text-primary: #{mat.get-color-from-palette($primary-palette, "text")};
  }
}

// Light
$primary-palette: mat.define-palette(mat.$cyan-palette, 700);
$accent-palette: mat.define-palette(mat.$grey-palette, 700);
$warn-palette: mat.define-palette(mat.$red-palette);
$personal-website-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include mat.all-component-themes($personal-website-theme);
@include exposeVariables(&);

// Dark
app-root.dark {
  $primary-palette: mat.define-palette(mat.$cyan-palette, 400) !global;
  $accent-palette: mat.define-palette(mat.$grey-palette, 300) !global;
  $warn-palette: mat.define-palette(mat.$red-palette) !global;

  $personal-website-theme-dark: mat.define-dark-theme(
    (
      color: (
        primary: $primary-palette,
        accent: $accent-palette,
        warn: $warn-palette,
      ),
    )
  );
  @include mat.all-component-colors($personal-website-theme-dark);
  @include exposeVariables(&);
}

