:host {
  $sidenav-width: 256px;
  $body-max-width: 1040px;

  display: contents;

  mat-sidenav-container {
    flex: 1;
  }

  mat-sidenav {
    width: 256px;
  }

  mat-nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .spacer {
      flex-grow: 1;
    }
    .nav-item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    ::ng-deep .no-events {
      pointer-events: none !important;
      * {
        pointer-events: none !important;
      }
    }
  }

  :host-context(.desktop) mat-sidenav-content {
    background-size: 20%, 17%;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, top 3% right 2%;

    :host-context(.light) & {
      background-image: url("~/assets/backgrounds/angular-black.svg"), url("~/assets/backgrounds/rx-js-black.svg");
      background-color: #f0f0f0;
    }

    :host-context(.dark) & {
      background-image: url("~/assets/backgrounds/angular.svg"), url("~/assets/backgrounds/rx-js.svg");
      background-color: #202020;
    }
  }

  .responsive-body {
    max-width: $body-max-width;
    margin: 32px;

    :host-context(.mobile) & {
      margin: 0;
    }

    .content-padding {
      padding: 16px;
    }
  }
}

// Created as css because angular doesn't support webkit animations
@keyframes fadeIn {
  0% {
    -webkit-mask-image: linear-gradient(to top, transparent, black 90%);
    -webkit-mask-size: 100% 0;
  }
  100% {
    -webkit-mask-image: linear-gradient(to top, transparent, black 90%);
    -webkit-mask-size: 100% 1000vh;
  }
}
::ng-deep .fade-in router-outlet + * {
  -webkit-mask-repeat: no-repeat;
  animation: fadeIn 1.5s ease-in;
}
