<mat-toolbar id="toolbar" color="primary">
  <button
    *ngIf="responsive.isMobile()"
    mat-icon-button
    (click)="toggleSideNav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ activePage()?.title }}</span>
  <div class="toolbar-spacer"></div>

  <a href="https://github.com/SebastianPost96" mat-icon-button>
    <mat-icon [svgIcon]="'github-white'"></mat-icon>
  </a>
  <a
    href="https://www.linkedin.com/in/sebastian-post-601356243/?lipi=urn%3Ali%3Apage%3Ad_flagship3_resumebuilder%3BFCNeJvl9S2G5zqNPVUO7%2Bw%3D%3D"
    mat-icon-button
  >
    <mat-icon [svgIcon]="'linkedin'"></mat-icon>
  </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    [opened]="!responsive.isMobile() || sideNavOpen()"
    (closed)="toggleSideNav(false)"
    [mode]="responsive.isMobile() ? 'over' : 'side'"
  >
    <mat-nav-list>
      <mat-list-item
        *ngFor="let page of pages"
        [activated]="activePage() === page"
        (click)="navigateToPage(page)"
      >
        {{ page.title }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
