<mat-toolbar id="toolbar" color="primary">
  <button
    *ngIf="responsive.isMobile()"
    mat-icon-button
    (click)="toggleSideNav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="toolbar-left">
    <span>{{
      responsive.isMobile() ? activePage()?.title : "Sebastian Post"
    }}</span>
  </div>

  <div class="toolbar-spacer"></div>

  <div class="toolbar-right" [class.gap]="!responsive.isMobile()">
    <a
      *ngIf="!responsive.isMobile(); else mobileGitHub"
      class="fab-small"
      href="https://github.com/SebastianPost96"
      mat-fab
      extended
    >
      <mat-icon
        [svgIcon]="responsive.isDarkMode() ? 'github' : 'github-white'"
      ></mat-icon>
      GitHub
    </a>
    <ng-template #mobileGitHub>
      <a href="https://github.com/SebastianPost96" mat-icon-button>
        <mat-icon
          [svgIcon]="responsive.isDarkMode() ? 'github' : 'github-white'"
        ></mat-icon>
      </a>
    </ng-template>

    <a
      *ngIf="!responsive.isMobile(); else mobileLinkedIn"
      class="fab-small"
      href="https://www.linkedin.com/in/sebastian-post-601356243"
      mat-fab
      extended
    >
      <mat-icon [svgIcon]="'linkedin'"></mat-icon>
      LinkedIn
    </a>
    <ng-template #mobileLinkedIn>
      <a
        href="https://www.linkedin.com/in/sebastian-post-601356243"
        mat-icon-button
      >
        <mat-icon [svgIcon]="'linkedin'"></mat-icon>
      </a>
    </ng-template>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    [opened]="!responsive.isMobile() || sideNavOpen()"
    (closed)="toggleSideNav(false)"
    [mode]="responsive.isMobile() ? 'over' : 'side'"
  >
    <mat-nav-list>
      <mat-list-item
        *ngFor="let page of pages"
        [activated]="activePage() === page"
        (click)="navigateToPage(page)"
      >
        {{ page.title }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
