:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  mat-sidenav-container {
    flex-grow: 1;
  }

  .toolbar-spacer {
    flex-grow: 1;
  }

  .content {
    height: 100%;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
  }
}
