<ng-container *ngFor="let item of resumeContent">
  <div *ngIf="item.type === 'title'" class="title">
    <h2>{{ item.content }}</h2>
    <ng-container *ngIf="config.isMobile(); then mobileButton; else desktopButton"> </ng-container>

    <ng-template #mobileButton>
      <button (click)="downloadCV()" mat-mini-fab>
        <mat-icon>download</mat-icon>
      </button>
    </ng-template>
    <ng-template #desktopButton>
      <button class="download-fab" (click)="downloadCV()" mat-fab extended>
        Download
        <mat-icon>download</mat-icon>
      </button>
    </ng-template>
  </div>

  <p *ngIf="item.type === 'paragraph'" class="paragraph">{{ item.content | translate }}</p>

  <div *ngIf="item.type === 'imageIcon'">
    <a [href]="item.link" class="image-icon">
      <mat-icon [svgIcon]="item.svgIcon ?? ''" [fontIcon]="item.fontIcon ?? ''"></mat-icon>
      <span> {{ item.content }}</span>
    </a>
  </div>

  <h3 *ngIf="item.type === 'section'">{{ item.content | translate | titlecase }}</h3>

  <div *ngIf="item.type === 'occupation'" class="occupation">
    <div class="icon">
      <img [height]="24" [width]="24" [ngSrc]="item.icon" />
    </div>
    <div class="info">
      <h4>{{ item.title | translate }}</h4>
      <span>{{ item.subtitle | translate }}</span>
      <small>{{ item.timeLine | translate }}</small>
      <small *ngFor="let line of item.description">{{ line | translate }}</small>
    </div>
  </div>

  <app-spacer *ngIf="item.type === 'spacer'" [margin]="item.size" [hide]="!!item.hide"> </app-spacer>
</ng-container>
