.minesweeper {
  iframe {
    height: 447.5px;
    width: 100%;
  }
  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
  }
  mat-spinner {
    margin: 0 auto;
  }
}
