.minesweeper {
  iframe {
    height: 500px;
    width: 100%;
  }
  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  mat-spinner {
    margin: 0 auto;
  }
}
