<div class="minesweeper">
  <div class="description">
    <p>
      Minesweeper built with Angular. Implemented using a custom state
      management solution.
    </p>

    <a
      href="https://github.com/SebastianPost96/rx-boilerstate"
      target="_blank"
      [matTooltip]="'View Source Code'"
      mat-icon-button
      ><mat-icon>open_in_new</mat-icon></a
    >
  </div>

  <iframe
    [hidden]="loading()"
    (load)="loading.set(false)"
    src="https://sebastianpost96.github.io/rx-boilerstate/"
  ></iframe>
  <mat-spinner
    *ngIf="loading()"
    [diameter]="300"
    [strokeWidth]="20"
  ></mat-spinner>
</div>
