<div class="description">
  <p>{{ translation.description | translate }}</p>

  <a
    href="https://github.com/SebastianPost96/rx-boilerstate"
    target="_blank"
    [matTooltip]="translation.sourceCode | translate | titlecase"
    mat-icon-button
    ><mat-icon>code</mat-icon></a
  >
</div>

<iframe
  [hidden]="!(hasLoaded$ | async)"
  (load)="hasData$.next(true)"
  src="https://sebastianpost96.github.io/rx-boilerstate/"
></iframe>
<mat-spinner *ngIf="!(hasLoaded$ | async)" [diameter]="300" [strokeWidth]="20"></mat-spinner>
