<h2 class="fancy-header">{{ translations.welcome | translate | titlecase }}</h2>

<div class="intro">
  <img priority ngSrc="assets/pictures/me.jpg" width="200" height="200" alt="Sebastian Post" />
  <div class="intro-text">
    {{ translations.intro | translate }}
  </div>
</div>

<h2 class="fancy-header">{{ translations.qualities | translate | titlecase }}</h2>

<div class="qualities">
  <div *ngFor="let quality of qualities">
    <mat-icon>{{ quality.icon }}</mat-icon>
    <h3>{{ quality.title | translate }}</h3>
    <div>{{ quality.subtext | translate }}</div>
  </div>
</div>

<h2 class="fancy-header">{{ translations.skills | translate | titlecase }}</h2>

<div class="skills-container">
  <div *ngFor="let proficiency of proficiencies">
    <h3>{{ proficiency.title | translate }}</h3>
    <div class="skills">
      <app-skill *ngFor="let skill of proficiency.skills" [skill]="skill"></app-skill>
    </div>
  </div>
</div>
