@use "@angular/material" as mat;

h2,
h3,
h4 {
  text-align: center;
}

.fancy-header {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--text-primary);

  &::before,
  &::after {
    content: "";
    border: 1px solid;
    flex: 1;
    height: 0;
    margin: 0 16px;
  }
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 16px;
  margin-left: auto;
  margin-right: auto;

  :host-context(.desktop) & {
    max-width: 700px;
    column-gap: 32px;
  }

  h4 {
    margin-bottom: 8px;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 8px;
    :host-context(.desktop) & {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
