@use "@angular/material" as mat;
@import "normalize.css";

@include mat.core();

// Theme

$personal-website-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$cyan-palette, 700),
      accent: mat.define-palette(mat.$grey-palette, 700),
      warn: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include mat.all-component-themes($personal-website-theme);

app-root.dark {
  $personal-website-theme-dark: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(mat.$cyan-palette, 300),
        accent: mat.define-palette(mat.$grey-palette, 300),
        warn: mat.define-palette(mat.$red-palette),
      ),
    )
  );
  @include mat.all-component-colors($personal-website-theme-dark);
}

// Global Styles

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

iframe {
  border: none;
}

router-outlet + * > * {
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

.fab-small {
  height: 35px !important;
}

.big {
  font-size: larger;
}
