:host {
  display: contents;

  mat-toolbar {
    z-index: 2;
  }
  .toolbar-left {
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .toolbar-spacer {
    flex-grow: 1;
  }
  .toolbar-right {
    display: flex;
    align-items: center;

    mat-divider {
      align-self: stretch;
    }
    :host-context(.desktop) .buttons {
      @extend .gap;
      .button-label {
        color: white;
        display: flex;
        align-items: center;
        gap: 8px;

        :host-context(.dark) & {
          color: black;
        }
      }
    }
  }
  .gap {
    display: flex;
    gap: 10px;
  }
}

.mat-mdc-menu-item {
  &:not(.lang-selected) {
    opacity: 0.4;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.8;
    }
  }
}
