<div class="description">
  <p>
    {{ translation.description | translate }}
  </p>

  <div class="buttons">
    <a
      href="https://sebastianpost96.github.io/tailwind-weather-app/"
      target="_blank"
      [matTooltip]="translation.open | translate | titlecase"
      mat-icon-button
      ><mat-icon>open_in_new</mat-icon></a
    >
    <a
      href="https://github.com/SebastianPost96/tailwind-weather-app"
      target="_blank"
      [matTooltip]="translation.sourceCode | translate | titlecase"
      mat-icon-button
      ><mat-icon>code</mat-icon></a
    >
  </div>
</div>

<a href="https://sebastianpost96.github.io/tailwind-weather-app/" target="_blank">
  <img
    *ngIf="!config.isMobile()"
    [width]="554.5"
    [height]="179"
    priority
    ngSrc="assets/screenshots/weather_desktop.gif"
    alt="weather app screenshot"
  />

  <img
    *ngIf="config.isMobile()"
    [width]="725 / 2.2"
    [height]="407 / 2.2"
    priority
    ngSrc="assets/screenshots/weather_mobile.gif"
    alt="weather app screenshot"
  />
</a>
